        /* Personaliza el tamaño de los cuadros de texto */

        .sudoku-cell {
            width: 40px;
            height: 40px;
            text-align: center;
            font-size: 1.5em;
        }

        .sudoku-possibles {
            text-align: center;
            font-size: smaller;
        }

        .sudoku-definido {
            text-align: center;
            font-weight: bold;
            font-size: large;
        }

        /* Estilo para centrar horizontal y verticalmente los cuadros de texto */
        table.table-bordered td {
            border: 1px solid #11120f;
            padding: 2% 3.5%;
        }

        /* Estilo para los bordes derechos de la tercera y sexta columna de cada fila */
        table.table-bordered tr td:nth-child(3n+0),
        table.table-bordered tr td:nth-child(6n+0) {
            border-right: 4px solid #11120f;
            /* Borde derecho más ancho */
        }

        /* Estilo para los botones */
        .button-container {
            display: flex;
        }

        .button {
            padding: 10px 20px;
            margin: 10px;
            border: 2px solid transparent;
            border-radius: 5px;
            background-color: #3498db;
            color: white;
            cursor: pointer;
            transition: border-color 0.3s;
        }

        .button:hover {
            border-color: #2980b9;
        }

        /* Estilo para ampliar el borde inferior de filas especiales */
        table.table-bordered tr.special-row {
            border-bottom: 4px solid #11120f;
            /* Borde inferior más ancho */
        }

        /* Estilos adicionales menú */
        .dropdown-menu {
            background-color: #3498db;
            /* Fondo azul */
        }

        .dropdown-item {
            color: #ffffff;
            /* Texto blanco */
        }

        .dropdown-item:hover {
            background-color: #2980b9;
            /* Color de fondo al pasar el ratón */
        }

        /* Estilos para los nav-link */
        .nav-link {
            color: #3498db;
            /* Color de texto para los elementos nav-link */
        }

        .nav-link:hover {
            color: #2980b9;
            /* Color de texto al pasar el ratón sobre los elementos nav-link */
        }